doctype html
html(lang="ko")
    head
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
        title #{pageTitle} | Wetube
    body 
        header
            h1=pageTitle
        block content
    include partials/footer.pug