extends base

block content
    h4 Update Video
    form(method="POST")
        input(name="title",placeholder="Video Title", value=video.title, required)
        input(placeholder="Description", requred, type="text", name="description", minlength=20, value=video.description, required)
        input(placeholder="Hashtags, seperated by comma", requred, type="text", name="hashtags", value=video.hashtags.join(), required)

        input(value="Save", type="submit")